/* src/styles/typography.css */
body {
  font-family: var(--font-body);
  font-size: var(--text-md);
  color: var(--color-text-secondary);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--weight-medium);
  color: var(--color-text-primary);
  line-height: 1.25;
}

h1 {
  font-size: var(--text-display-sm);
}

.text-display-md {
  font-size: var(--text-display-md);
  font-weight: var(--weight-black);
}

.text-display-sm {
  font-size: var(--text-display-sm);
  font-weight: var(--weight-bold);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-md {
  font-size: var(--text-md);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-mono {
  font-family: var(--font-mono);
  font-size: var(--text-mono-sm);
  font-weight: var(--weight-regular);
}