---
// src/pages/index.astro
import ProjectList from '../components/islands/features/ProjectList';
import Page from '../layouts/Page.astro';
---

<Page title="Orca">
  <ProjectList client:only="react">
    <div class="max-w-[1200px] mx-auto px-6 py-12 w-full flex flex-col gap-8 flex-grow bg-background"></div>
  </ProjectList>
</Page>
